 
.header-bg {
    background-image: url("../image/Rock-731140_1920.jpg");
    background-repeat: no-repeat;
    width: 99.46vw;
    margin-left: -0.5vw;
    margin-top: -0.5vw;
 }
.main-menu{
    padding-top: 16vw;
    text-align: center;
}
.main-menu ul {
    list-style: none;
    background: white;
    padding-top: 10px;
}
.main-menu ul li {
	display: inline;
}
.main-menu ul li a {
    display: inline-block;
    font-size: 15.8px;
    color: black;
    color: #6b6b6b;
    margin-left: 35px;
    font-weight: 500;
    padding: 10px 5px;
    font-family: "Fanwood Text",serif;
    text-decoration: unset;
} 
h1
    {
        text-align: center;
        color: white;
        text-shadow: 1px 5px 5px #583013;
        font-family: "Quattrocento",serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        padding-top: 247px;
        font-size: 3.5vw;
}
h2{
    font-size: 1rem;
    text-shadow: 2px 2px #583013;
    color: wheat;
    text-align: center;
}
.entry-header {
    margin-bottom: 1.5em;
}
h3{ 
    text-shadow: 2px 1px 2px #583013;
    font-size: 2.4rem;
    margin-left: 1vw;
    color: #635b5b;
    text-align: center;
    font-family: auto;
    padding-top: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
}
 
.row {
    margin-right: -15px;
    margin-left: 12vw;
    width: 51vw;
    padding-top: 5vw;
  }
  .footer-wrap {
    background-color: #303030;
    margin-top: 3em;
    height: 4vw;
    padding-top: 1vw;
    text-align: end;
    padding-right: 2vw;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}